<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ships" type="TDHelper.ShipSection, TDHelper" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <ships>
    <ship shiptype="Adder" name="Adder" padsizes="SML?" />
    <ship shiptype="Anaconda" name="Anaconda" padsizes="L" />
    <ship shiptype="Asp" name="Asp Explorer" padsizes="ML" />
    <ship shiptype="Asp_Scout" name="Asp Scout" padsizes="ML" />
    <ship shiptype="BelugaLiner" name="Beluga" padsizes="L" />
    <ship shiptype="CobraMkIII" name="Cobra MkIII" padsizes="SML?" />
    <ship shiptype="CobraMkIV" name="Cobra MkIV" padsizes="SML?" />
    <ship shiptype="Cutter" name="Imperial Cutter" padsizes="L" />
    <ship shiptype="DiamondBack" name="DiamondBack Scout" padsizes="SML?" />
    <ship shiptype="DiamondBackXL" name="DiamondBack Explorer" padsizes="SML?" />
    <ship shiptype="Dolphin" name="Dolphin" padsizes="SML?" />
    <ship shiptype="Eagle" name="Eagle" padsizes="SML?" />
    <ship shiptype="Empire_Courier" name="Imperial Courier" padsizes="SML?" />
    <ship shiptype="Empire_Eagle" name="Imperial Eagle" padsizes="SML?" />
    <ship shiptype="Empire_Trader" name="Imperial Clipper" padsizes="L" />
    <ship shiptype="Federation_Corvette" name="Federal Corvette" padsizes="L" />
    <ship shiptype="Federation_Dropship" name="Federal Dropship" padsizes="ML" />
    <ship shiptype="Federation_Dropship_MkII" name="Federal Assault Ship" padsizes="ML" />
    <ship shiptype="Federation_Gunship" name="Federal Gunship" padsizes="ML" />
    <ship shiptype="FerDeLance" name="Fer-de-Lance" padsizes="ML" />
    <ship shiptype="Hauler" name="Hauler" padsizes="SML?" />
    <ship shiptype="Independant_Trader" name="Keelback" padsizes="ML" />
    <ship shiptype="Krait_MkII" name="Krait MkII" padsizes="ML" />
    <ship shiptype="Orca" name="Orca" padsizes="L" />
    <ship shiptype="Python" name="Python" padsizes="ML" />
    <ship shiptype="SideWinder" name="Sidewinder" padsizes="SML?" />
    <ship shiptype="Type6" name="Type 6" padsizes="ML" />
    <ship shiptype="Type7" name="Type 7" padsizes="L" />
    <ship shiptype="Type9" name="Type 9" padsizes="L" />
    <ship shiptype="Type9_Military" name="Type 10" padsizes="L" />
    <ship shiptype="TypeX" name="Alliance Chieftain" padsizes="ML" />
    <ship shiptype="TypeX_2" name="Alliance Crusader" padsizes="ML" />
    <ship shiptype="TypeX_3" name="Alliance Challenger" padsizes="ML" />
    <ship shiptype="Viper" name="Viper MkIII" padsizes="SML?" />
    <ship shiptype="Viper_MkIV" name="Viper MkIV" padsizes="SML?" />
    <ship shiptype="Vulture" name="Vulture" padsizes="SML?" />
  </ships>

  <appSettings>
    <add key="remoteManifestPath" value="http://markausten.info/files/tdhelper2/test/TDHelper.manifest" />
  </appSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.109.0" newVersion="1.0.109.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
</configuration>