<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ships" type="TDHelper.ShipSection, TDHelper" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <ships>
    <ship shiptype="Adder" name="Adder" padsizes="S" initialcapacity="2" initialladenly="8.47" initialunladenly="9.12" maxcapacity="26" />
    <ship shiptype="Anaconda" name="Anaconda" padsizes="L" initialcapacity="114" initialladenly="8.52" initialunladenly="9.41" maxcapacity="468" />
    <ship shiptype="Asp" name="Asp Explorer" padsizes="ML" initialcapacity="38" initialladenly="12.07" initialunladenly="13.12" maxcapacity="128" />
    <ship shiptype="Asp_Scout" name="Asp Scout" padsizes="ML" initialcapacity="16" initialladenly="10.84" initialunladenly="11.69" maxcapacity="72" />
    <ship shiptype="BelugaLiner" name="Beluga" padsizes="L" initialcapacity="44" initialladenly="9.58" initialunladenly="9.83" maxcapacity="368" />
    <ship shiptype="CobraMkIII" name="Cobra MkIII" padsizes="SML?" initialcapacity="18" initialladenly="9.78" initialunladenly="10.46" maxcapacity="60" />
    <ship shiptype="CobraMkIV" name="Cobra MkIV" padsizes="SML?" initialcapacity="34" initialladenly="8.38" initialunladenly="9.37" maxcapacity="88" />
    <ship shiptype="Cutter" name="Imperial Cutter" padsizes="L" initialcapacity="164" initialladenly="7.57" initialunladenly="8.21" maxcapacity="792" />
    <ship shiptype="DiamondBack" name="DiamondBack Scout" padsizes="SML?" initialcapacity="0" initialladenly="11.35" initialunladenly="11.35" maxcapacity="28" />
    <ship shiptype="DiamondBackXL" name="DiamondBack Explorer" padsizes="SML?" initialcapacity="12" initialladenly="15.12" initialunladenly="15.61" maxcapacity="56" />
    <ship shiptype="Dolphin" name="Dolphin" padsizes="SML?" initialcapacity="14" initialladenly="10.11" initialunladenly="10.67" maxcapacity="84" />
    <ship shiptype="Eagle" name="Eagle" padsizes="SML?" initialcapacity="2" initialladenly="8.27" initialunladenly="8.47" maxcapacity="16" />
    <ship shiptype="Empire_Courier" name="Imperial Courier" padsizes="SML?" initialcapacity="12" initialladenly="7.69" initialunladenly="8.83" maxcapacity="30" />
    <ship shiptype="Empire_Eagle" name="Imperial Eagle" padsizes="SML?" initialcapacity="2" initialladenly="8.03" initialunladenly="8.22" maxcapacity="16" />
    <ship shiptype="Empire_Trader" name="Imperial Clipper" padsizes="L" initialcapacity="74" initialladenly="8.05" initialunladenly="8.98" maxcapacity="248" />
    <ship shiptype="Federation_Corvette" name="Federal Corvette" padsizes="L" initialcapacity="76" initialladenly="6.03" initialunladenly="6.31" maxcapacity="616" />
    <ship shiptype="Federation_Dropship" name="Federal Dropship" padsizes="ML" initialcapacity="56" initialladenly="6.77" initialunladenly="7.25" maxcapacity="164" />
    <ship shiptype="Federation_Dropship_MkII" name="Federal Assault Ship" padsizes="ML" initialcapacity="32" initialladenly="7.69" initialunladenly="8.33" maxcapacity="96" />
    <ship shiptype="Federation_Gunship" name="Federal Gunship" padsizes="ML" initialcapacity="16" initialladenly="6.54" initialunladenly="6.66" maxcapacity="168" />
    <ship shiptype="FerDeLance" name="Fer-de-Lance" padsizes="ML" initialcapacity="24" initialladenly="6.59" initialunladenly="7" maxcapacity="70" />
    <ship shiptype="Hauler" name="Hauler" padsizes="SML?" initialcapacity="8" initialladenly="8.08" initialunladenly="9.87" maxcapacity="22" />
    <ship shiptype="Independant_Trader" name="Keelback" padsizes="ML" initialcapacity="38" initialladenly="9.48" initialunladenly="10.94" maxcapacity="88" />
    <ship shiptype="Krait_MkII" name="Krait MkII" padsizes="ML" initialcapacity="82" initialladenly="7.66" initialunladenly="8.99" maxcapacity="228" />
    <ship shiptype="Krait_Light" name="Krait Phantom" padsizes="ML" initialcapacity="82" initialladenly="7.66" initialunladenly="9.78" maxcapacity="188" />
    <ship shiptype="Mamba" name="Manba" padsizes="ML" initialcapacity="20" initialladenly="7.37" initialunladenly="6.79" maxcapacity="64" />
    <ship shiptype="Orca" name="Orca" padsizes="L" initialcapacity="72" initialladenly="10.04" initialunladenly="10.48" maxcapacity="192" />
    <ship shiptype="Python" name="Python" padsizes="ML" initialcapacity="82" initialladenly="7.36" initialunladenly="8.23" maxcapacity="292" />
    <ship shiptype="SideWinder" name="Sidewinder" padsizes="SML?" initialcapacity="4" initialladenly="6.96" initialunladenly="7.56" maxcapacity="12" />
    <ship shiptype="Type6" name="Type 6" padsizes="ML" initialcapacity="50" initialladenly="10.07" initialunladenly="12.39" maxcapacity="112" />
    <ship shiptype="Type7" name="Type 7" padsizes="L" initialcapacity="128" initialladenly="8.63" initialunladenly="10.68" maxcapacity="304" />
    <ship shiptype="Type9" name="Type 9" padsizes="L" initialcapacity="348" initialladenly="6.62" initialunladenly="8.68" maxcapacity="788" />
    <ship shiptype="Type9_Military" name="Type 10" padsizes="L" initialcapacity="220" initialladenly="6.07" initialunladenly="6.97" maxcapacity="532" />
    <ship shiptype="TypeX" name="Alliance Chieftain" padsizes="ML" initialcapacity="40" initialladenly="8.81" initialunladenly="9.59" maxcapacity="120" />
    <ship shiptype="TypeX_2" name="Alliance Crusader" padsizes="ML" initialcapacity="40" initialladenly="7.64" initialunladenly="8.21" maxcapacity="120" />
    <ship shiptype="TypeX_3" name="Alliance Challenger" padsizes="ML" initialcapacity="40" initialladenly="7.96" initialunladenly="8.58" maxcapacity="152" />
    <ship shiptype="Viper" name="Viper MkIII" padsizes="SML?" initialcapacity="4" initialladenly="7.35" initialunladenly="7.67" maxcapacity="22" />
    <ship shiptype="Viper_MkIV" name="Viper MkIV" padsizes="SML?" initialcapacity="18" initialladenly="9.69" initialunladenly="10.36" maxcapacity="50" />
    <ship shiptype="Vulture" name="Vulture" padsizes="SML?" initialcapacity="8" initialladenly="7.75" initialunladenly="7.93" maxcapacity="56" />
  </ships>

  <appSettings>
    <add key="remoteManifestPath" value="http://markausten.info/files/tdhelper3/TDHelper.manifest" />
    <add key="minimumPythonVersion" value="34"/>
    <add key="pipUrl" value="https://pypi.python.org/pypi/tradedangerous/json"/>
  </appSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.109.0" newVersion="1.0.109.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
</configuration>